params{
whole_plink = [
         ['UKB', '/well/todd/users/zor420/merged_chr6_filtered_cauc_sex.bed',
          '/well/todd/users/zor420/merged_chr6_filtered_cauc_sex.bim',
          '/well/todd/users/zor420/merged_chr6_filtered_cauc_sex.fam'],
]

chr6_vcf = [
                  ['UKB', '/well/todd/users/zor420/merged_chr6_filtered_cauc_sex.vcf.gz',
                     '/well/todd/users/zor420/merged_chr6_filtered_cauc_sex.vcf.gz.csi']
                ]

whole_ids = "/well/todd/users/zor420/orig_ids.txt"

cov_pheno = [
           //["Hep", "/users/todd/zor420/HLA-SAIGE-analysis/data/Covariates/cov_pheno.tsv"],
           ["asthma", "/users/todd/zor420/HLA-SAIGE-analysis/data/Covariates/cov_pheno.tsv"],
           //["RA", "/users/todd/zor420/HLA-SAIGE-analysis/data/Covariates/cov_pheno.tsv"],
           //["COPD", "/users/todd/zor420/HLA-SAIGE-analysis/data/Covariates/cov_pheno.tsv"],
           //["CLD","/users/todd/zor420/HLA-SAIGE-analysis/data/Covariates/cov_pheno.tsv"],
           //["T1D", "/users/todd/zor420/HLA-SAIGE-analysis/data/Covariates/cov_pheno.tsv"],
           //["T2D", "/users/todd/zor420/HLA-SAIGE-analysis/data/Covariates/cov_pheno.tsv"],
           //["TB", "/users/todd/zor420/HLA-SAIGE-analysis/data/Covariates/cov_pheno.tsv"],
           //["hep_b", "/users/todd/zor420/HLA-SAIGE-analysis/data/Covariates/cov_pheno.tsv"],
        ]
}
