params{

//whole_ckb = [
  //       ['CKB', '/users/kir-luo/ypz679/devel/CKB/data/whole_ckb/whole_ckb_1_22_prun.bed',
    //      '/users/kir-luo/ypz679/devel/CKB/data/whole_ckb/whole_ckb_1_22_prun.bim',
      //    '/users/kir-luo/ypz679/devel/CKB/data/whole_ckb/whole_ckb_1_22_prun.fam'],
        //]

whole_ckb = [
         ['CKB', '/users/kir-luo/ypz679/devel/CKB/data/whole_ckb/whole_ckb_1_22_prun_edit.bed',
          '/users/kir-luo/ypz679/devel/CKB/data/whole_ckb/whole_ckb_1_22_prun_edit.bim',
          '/users/kir-luo/ypz679/devel/CKB/data/whole_ckb/whole_ckb_1_22_prun_edit.fam'],
]

//whole_ckb_vcf = [
//		  ['CKB', '/users/kir-luo/ypz679/devel/CKB/data/gwas_6_ckb/gwas_subset.filt.vcf.gz',
  //                   '/users/kir-luo/ypz679/devel/CKB/data/gwas_6_ckb/gwas_subset.filt.vcf.gz.csi']
//		]

whole_ckb_vcf = [
                  ['CKB', '/users/kir-luo/ypz679/devel/CKB/data/whole_ckb/imputed_v2/CKB_edit_version2_b38.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/data/whole_ckb/imputed_v2/CKB_edit_version2_b38.vcf.gz.csi']
                ]

//whole_ids = "/users/kir-luo/ypz679/devel/CKB/data/rel_free_id.txt"
//whole_ids = "/users/kir-luo/ypz679/devel/CKB/data/gwas_6_ckb/sample_ids.txt"
whole_ids = "/users/kir-luo/ypz679/devel/CKB/data/whole_ckb/imputed_v2/v2_edit_sample_ids.txt"

cov_pheno = [
           //["Hep", "/users/kir-luo/ypz679/devel/CKB/data/Covariates/cov_pheno_high_sig.tsv"],
           //["Asthma", "/users/kir-luo/ypz679/devel/CKB/data/Covariates/cov_pheno.tsv"],
           //["RA", "/users/kir-luo/ypz679/devel/CKB/data/Covariates/cov_pheno_high_sig.tsv"],
           //["COPD", "/users/kir-luo/ypz679/devel/CKB/data/Covariates/cov_pheno_high_sig.tsv"],
           //["CLD","/users/kir-luo/ypz679/devel/CKB/data/Covariates/cov_pheno_high_sig.tsv"],
           //["T1D", "/users/kir-luo/ypz679/devel/CKB/data/Covariates/cov_pheno.tsv"],
           //["T2D", "/users/kir-luo/ypz679/devel/CKB/data/Covariates/cov_pheno.tsv"],
           //["TB", "/users/kir-luo/ypz679/devel/CKB/data/Covariates/cov_pheno.tsv"],
           ["hep_b", "/users/kir-luo/ypz679/devel/CKB/data/Covariates/cov_pheno_high_sig.tsv"],
        ]

geno_vcf = [
           ['Gansu', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Gansu_saige_geno.vcf.gz', 
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Gansu_saige_geno.vcf.gz.csi'],
           ['Haikou', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Haikou_saige_geno.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Haikou_saige_geno.vcf.gz.csi'],
           ['Harbin', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Harbin_saige_geno.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Harbin_saige_geno.vcf.gz.csi'],
           ['Henan', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Henan_saige_geno.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Henan_saige_geno.vcf.gz.csi'],
           ['Hunan', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Hunan_saige_geno.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Hunan_saige_geno.vcf.gz.csi'],
           ['Liuzhou','/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Liuzhou_saige_geno.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Liuzhou_saige_geno.vcf.gz.csi'],
           ['Qingdao', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Qingdao_saige_geno.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Qingdao_saige_geno.vcf.gz.csi'],
           ['Sichuan', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Sichuan_saige_geno.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Sichuan_saige_geno.vcf.gz.csi'],
           ['Suzhou', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Suzhou_saige_geno.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Suzhou_saige_geno.vcf.gz.csi'],
           ['Zhejiang', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Zhejiang_saige_geno.vcf.gz',
                     '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Zhejiang_geno.vcf.gz.csi']
        ]

ids = [
           ['Gansu', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Gansu_ids.txte'],
           ['Haikou', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Haikou_ids.txte'],
           ['Harbin', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Harbin_ids.txte'],
           ['Henan', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Henan_ids.txte'],
           ['Hunan', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Hunan_ids.txte'],
           ['Liuzhou', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Liuzhou_ids.txte'],
           ['Qingdao', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Qingdao_ids.txte'],
           ['Sichuan', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Sichuan_ids.txte'],
           ['Suzhou', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Suzhou_ids.txte'],
           ['Zhejiang', '/users/kir-luo/ypz679/devel/CKB/data/sample_ids/plink_ids/Zhejiang_ids.txte']
        ]

pheno = [
           ['Gansu', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Gansu_cov_pheno.txt'],
           ['Haikou', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Haikou_cov_pheno.txt'],
           ['Harbin', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Harbin_cov_pheno.txt'],
           ['Henan', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Henan_cov_pheno.txt'],
           ['Hunan', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Hunan_cov_pheno.txt'],
           ['Liuzhou', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Liuzhou_cov_pheno.txt'],
           ['Qingdao', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Qingdao_cov_pheno.txt'],
           ['Sichuan', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Sichuan_cov_pheno.txt'],
           ['Suzhou', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Suzhou_cov_pheno.txt'],
           ['Zhejiang', '/users/kir-luo/ypz679/devel/CKB/data/Covariates/saige_covariates/CKB_Zhejiang_cov_pheno.txt']
        ] 

geno = [
           ['Gansu', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Gansu_saige_geno.bed',
                '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Gansu_saige_geno.bim', 
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Gansu_saige_geno.fam'],
           ['Haikou', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Haikou_saige_geno.bed',
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Haikou_saige_geno.bim', 
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Haikou_saige_geno.fam'],
           ['Harbin', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Harbin_saige_geno.bed',
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Harbin_saige_geno.bim',
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Harbin_saige_geno.fam'],
           ['Henan', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Henan_saige_geno.bed', 
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Henan_saige_geno.bim',
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Henan_saige_geno.fam'],
           ['Hunan', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Hunan_saige_geno.bed',
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Hunan_saige_geno.bim', 
            	'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Hunan_saige_geno.fam'],
           ['Liuzhou', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Liuzhou_saige_geno.bed',
		 '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Liuzhou_saige_geno.bim',
		 '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Liuzhou_saige_geno.fam'],  
           ['Qingdao', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Qingdao_saige_geno.bed', 
		 '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Qingdao_saige_geno.bim', 
		 '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Qingdao_saige_geno.fam'],  
           ['Sichuan', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Sichuan_saige_geno.bed',
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Sichuan_saige_geno.bim', 
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Sichuan_saige_geno.fam'],
           ['Suzhou', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Suzhou_saige_geno.bed', 
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Suzhou_saige_geno.bim', 
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Suzhou_saige_geno.fam'],
           ['Zhejiang', '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Zhejiang_saige_geno.bed',
                '/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Zhejiang_saige_geno.bim',
		'/users/kir-luo/ypz679/devel/CKB/output/Subset/CKB_Zhejiang_saige_geno.fam']
]
}
